{% extends 'backend/seat/index_seat.html' %}
{% block seat_table %}
    <div class="col-md-8">
        <form class="form-inline" method="post" action="{% url 'search_seat' %}">
            {% csrf_token %}
            <!-- <input type="hidden" name="method" value="search"/> -->
            影厅名称:
            <label><input type="text" class="form-control" value="{{ search_seat_name }}" name="search_seat_name"/>&nbsp;&nbsp;</label>
{#            <a href="" class="btn btn-danger">增加</a>#}

            <input type="submit" class="btn btn-primary" value="查询">
            <a href="{% url 'index_seat' %}" class="btn btn-default">返回</a>
        </form>
    </div>
    <div style="padding-top: 10px;">
        <table id="table" class="table table-bordered table-hover">
            <tr>
                <th>影厅编号</th>
                <th>影厅名称</th>
                <th>座位行</th>
                <th>座位列</th>
                <th>操作</th>
            </tr>
            {% for row in data %}
                <tr>
                    <th>{{ row.seat_cinema_id }}</th>
                    <td>{{ row.seat_cinema }}</td>
                    <td>{{ row.seat_row }}</td>
                    <td>{{ row.seat_column }}</td>
                    <td>
                         <a class="glyphicon glyphicon-remove icon del-row" href="{% url 'del_seat' %}?nid={{ row.id }}"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}